/* 2/5/2019  David Churn added a color scheme
  scheme assist from Coolors.com
  whitish #f6fedb
  grayish #9d9d9d
  lt blue #a6b1e1
  blue #064789
  redish #a31621
 */
/*  Global characteristics */
* {
  box-sizing: border-box;
  border: dashed 1px black;
}
body {
  background: #f6fedb;
  margin: 0;
}
nav img {
  height: 2.2em;
  margin-left: 1em;
  }
img {
  height: 4em;
  }
.redish {
    background: #a31621;
  }

/*  Navigation characteristics */
nav ul {
  margin:0;
  padding:0;
}
nav ul li {
  width: 10em;
  list-style-type: none;
  text-align: center;
  position:relative;
}
nav ul li a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  color: #f6fedb;
  background: #a31621;
  border-bottom:solid 1px #a31621;
}
nav ul li a:hover {
  color: #a31621;
  background: #f6fedb;
  border-bottom:solid 1px #a31621;
}
nav ul.dropdown {
  display:none;
  position: absolute;
  width: 100%
}
nav ul.dropdown li {
  display: block;
}
nav ul.dropdown li a {
  border: solid 1px #a31621;
}
nav ul li:hover > ul.dropdown {
  display:block;
}
.dflex {
  display:flex;
}
.flex1 {
  flex:1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}
.flex6 {
  flex: 6;
}
.flex7 {
  flex: 7;
}
.flex8 {
  flex: 8;
}
.flex9 {
  flex: 9;
}
.flex10 {
  flex: 10;
}
.flex11 {
  flex: 11;
}
.flex12 {
  flex: 12;
}
.center {
  text-align: center;
}

/* Main characteristics */
main {
  margin: 0 10%;
}
p {
  line-height: 1.5em;
}
li {
}
.portrait {
  height: auto;
  width: auto;
  float: left;
}
.logo-holder {
  display:inline-block;
  margin: 1em;
}
/* Footer characteristics */
footer {
  color: #f6fedb;
  background: #a31621;
  text-align: center
}
