* {
  box-sizing: border-box;
}
body {
  background: $whitish;
  font: sans-serif;
  margin: 0;
}
/* Footer characteristics */
header, nav, footer {
  color: $whitish;
  background: $redish;
  font-family: serif;
}
header div {
  text-align: center;
}
/*  Navigation characteristics */
nav img {
  height: 2em;
  }
nav ul {
  margin:0;
  padding:0;
}
nav ul li {
  list-style-type: none;
  text-align: center;
  position:relative;
}
nav ul li a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  color: $whitish;
  background: $redish;
  border-bottom:solid 1px $redish;
}
nav ul li a:hover {
  color: $redish;
  background: $whitish;
  border-bottom:solid 1px $redish;
}
nav ul.dropdown {
  display:none;
  width: 100%
}
nav ul.dropdown li {
  display: block;
}
nav ul.dropdown li a {
  background: darken($redish, 10%);
  border: solid 1px $redish;
}
nav ul.dropdown li a:hover {
  background: $whitish;
  color: $redish;
}
nav ul li:hover > ul.dropdown {
    display:block;
    background: $whitish;
}
.unit {
  padding: 0.5em;
  background-color: $ltblue;
  margin: 0 0.5em;
}
/* Main characteristics */
main {
  margin: 0 2em;
}
h1 {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}
p {
  line-height: 1.5em;
}
.inblock {
  display: inline-block;
  margin: 0.5em;
  min-height: 4em;
  min-width: 4em;
  vertical-align: top;
  border:solid 1px black;
}

//  classes
.blocks {
  display: inline-block;
  height: 10em;
  width: 10em;
  padding: 0.5em;
  background-color: $ltblue;
  margin: 0 0.5em;
    vertical-align: top;
}
.center {
  text-align: center;
}
.iconic {
  height: 4em;
  width: 4em;
}
.portrait {
  float: left;
  margin: 0 1em;
  border:solid 1px black;
  max-width: 100%;
}
